In [2]:
import pandas as pd
from sshtunnel import SSHTunnelForwarder
from pymongo import MongoClient
from pymongo.errors import OperationFailure
from load_data_utils import *
from pprint import pprint
def cutting_records(cashflows,date1,date2):
    copy = cashflows.copy()
    for record in cashflows:
            if(record['report_date']<date1 or record['report_date']>date2):
                copy.remove(record)
    return copy

In [3]:
profile = pd.read_csv('./Purchase Redemption Data/user_profile_table.csv')
profile.head(3)

   user_id  sex       city constellation
0        2    1   Shanghai           Leo
1       12    1  Guangzhou     Capricorn
2       22    1   Shanghai        Gemini

In [4]:
cash_flow = pd.read_csv('./Purchase Redemption Data/user_balance_table.csv')
cash_flow.head(3)

,user_id,report_date,tBalance,yBalance,total_purchase_amt,direct_purchase_amt,purchase_bal_amt,purchase_bank_amt,total_redeem_amt,consume_amt,transfer_amt,tftobal_amt,tftocard_amt,share_amt,category1,category2,category3,category4
0,1,20140805,20385,20383,2,0,0,0,0,0,0,0,0,2,NaN,NaN,NaN,NaN
1,1,20140808,20391,20389,2,0,0,0,0,0,0,0,0,2,NaN,NaN,NaN,NaN
2,1,20140811,20397,20395,2,0,0,0,0,0,0,0,0,2,NaN,NaN,NaN,NaN

In [5]:
server = SSHTunnelForwarder(
    "34.67.124.229",
    ssh_username="apple",
    ssh_pkey="/Users/apple/Desktop/CSSE433/project-cli-keys/key-instance-1",
    ssh_private_key_password="csse433",
    remote_bind_address=("127.0.0.1", 27017)
)
server.start()
host = "localhost"
port = server.local_bind_port
try:
    cli = MongoClient(f'mongodb://{host}:{port}/?authSource=admin')
    cli.server_info()
except OperationFailure as err:
    print(err)

In [6]:
db = cli['yuebao']
customers = db['customer']

In [7]:
user_ids = [1,2,3]
docs = [generate_customer_dict(user_id, profile, cash_flow) for user_id in user_ids]

In [8]:
docs[1]

{'user_id': 2,
 'sex': 1,
 'city': 'Shanghai',
 'constellation': 'Leo',
 'cashflows': [{'report_date': 20140217,
   'balance': {'tBalance': 0, 'yBalance': 0},
   'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 0},
   'redemption': {'consumption': {'category1': -1,
     'category2': -1,
     'category3': -1,
     'category4': -1},
    'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}}]}

In [10]:
out = customers.find_one({'user_id': 1}, 
                   {'user_id': 1, 'cashflows':1, 'sex':1, 'city':1, 'constellation':1, '_id':0})

In [13]:
cash = out['cashflows']
cash

[{'report_date': 20140805,
  'balance': {'tBalance': 20385, 'yBalance': 20383},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140808,
  'balance': {'tBalance': 20391, 'yBalance': 20389},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140811,
  'balance': {'tBalance': 20397, 'yBalance': 20395},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140814,
  'balance': {'tBalance': 20403, 'yBalance': 20401},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140817,
  'balance': {'tBalance': 20409, 'yBalance': 20407},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140820,
  'balance': {'tBalance': 20415, 'yBalance': 20413},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140823,
  'balance': {'tBalance': 20421, 'yBalance': 20419},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140826,
  'balance': {'tBalance': 20427, 'yBalance': 20425},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140829,
  'balance': {'tBalance': 20433, 'yBalance': 20431},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140830,
  'balance': {'tBalance': 20435, 'yBalance': 20433},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140827,
  'balance': {'tBalance': 20429, 'yBalance': 20427},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140824,
  'balance': {'tBalance': 20423, 'yBalance': 20421},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140821,
  'balance': {'tBalance': 20417, 'yBalance': 20415},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140818,
  'balance': {'tBalance': 20411, 'yBalance': 20409},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140815,
  'balance': {'tBalance': 20405, 'yBalance': 20403},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140812,
  'balance': {'tBalance': 20399, 'yBalance': 20397},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140809,
  'balance': {'tBalance': 20393, 'yBalance': 20391},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140806,
  'balance': {'tBalance': 20387, 'yBalance': 20385},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140803,
  'balance': {'tBalance': 20381, 'yBalance': 20379},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140731,
  'balance': {'tBalance': 20375, 'yBalance': 20373},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140728,
  'balance': {'tBalance': 20369, 'yBalance': 20367},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140725,
  'balance': {'tBalance': 20363, 'yBalance': 20361},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140722,
  'balance': {'tBalance': 20357, 'yBalance': 20355},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140719,
  'balance': {'tBalance': 20351, 'yBalance': 20349},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140716,
  'balance': {'tBalance': 20345, 'yBalance': 20343},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140713,
  'balance': {'tBalance': 20339, 'yBalance': 20337},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140710,
  'balance': {'tBalance': 20333, 'yBalance': 20331},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140707,
  'balance': {'tBalance': 20327, 'yBalance': 20325},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140704,
  'balance': {'tBalance': 20321, 'yBalance': 20319},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140409,
  'balance': {'tBalance': 20149, 'yBalance': 20147},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140412,
  'balance': {'tBalance': 20155, 'yBalance': 20153},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140406,
  'balance': {'tBalance': 20143, 'yBalance': 20141},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140403,
  'balance': {'tBalance': 20137, 'yBalance': 20135},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140331,
  'balance': {'tBalance': 20131, 'yBalance': 20129},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140328,
  'balance': {'tBalance': 20125, 'yBalance': 20123},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140325,
  'balance': {'tBalance': 20119, 'yBalance': 20117},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140322,
  'balance': {'tBalance': 20113, 'yBalance': 20111},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140831,
  'balance': {'tBalance': 20437, 'yBalance': 20435},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140828,
  'balance': {'tBalance': 20431, 'yBalance': 20429},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140825,
  'balance': {'tBalance': 20425, 'yBalance': 20423},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140822,
  'balance': {'tBalance': 20419, 'yBalance': 20417},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140819,
  'balance': {'tBalance': 20413, 'yBalance': 20411},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140816,
  'balance': {'tBalance': 20407, 'yBalance': 20405},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140813,
  'balance': {'tBalance': 20401, 'yBalance': 20399},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140810,
  'balance': {'tBalance': 20395, 'yBalance': 20393},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140807,
  'balance': {'tBalance': 20389, 'yBalance': 20387},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140804,
  'balance': {'tBalance': 20383, 'yBalance': 20381},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140801,
  'balance': {'tBalance': 20377, 'yBalance': 20375},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140729,
  'balance': {'tBalance': 20371, 'yBalance': 20369},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140726,
  'balance': {'tBalance': 20365, 'yBalance': 20363},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140723,
  'balance': {'tBalance': 20359, 'yBalance': 20357},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140720,
  'balance': {'tBalance': 20353, 'yBalance': 20351},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140717,
  'balance': {'tBalance': 20347, 'yBalance': 20345},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140714,
  'balance': {'tBalance': 20341, 'yBalance': 20339},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140711,
  'balance': {'tBalance': 20335, 'yBalance': 20333},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140708,
  'balance': {'tBalance': 20329, 'yBalance': 20327},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140705,
  'balance': {'tBalance': 20323, 'yBalance': 20321},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140702,
  'balance': {'tBalance': 20317, 'yBalance': 20315},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140630,
  'balance': {'tBalance': 20313, 'yBalance': 20311},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140321,
  'balance': {'tBalance': 20111, 'yBalance': 20111},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 0},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140324,
  'balance': {'tBalance': 20117, 'yBalance': 20115},
  'purchase': {'purchase_bal_amt': 0, 'purchase_bank_amt': 0, 'revenue': 2},
  'redemption': {'consumption': {'category1': -1,
    'category2': -1,
    'category3': -1,
    'category4': -1},
   'transfer': {'tftobal_amt': 0, 'tftocard_amt': 0}}},
 {'report_date': 20140327,

In [16]:
import base64
from io import BytesIO
from matplotlib.figure import Figure

In [17]:
plot_df = pd.DataFrame()
balance = [cash['balance']['tBalance'] for cash in cutting_records(cash, 20140601, 20140805)]
plot_df['balance'] = balance
plot = Figure()
ax = plot.subplots()
plot_df.plot(ax=ax)

In [19]:
buf = BytesIO()
plot.savefig(buf, format='png')
data = base64.b64encode(buf.getbuffer()).decode('ascii')

In [20]:
f"img src='data:image/png;base64,{data}'/>"

"img src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAHgCAYAAAA10dzkAAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjMuMiwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8vihELAAAACXBIWXMAAA9hAAAPYQGoP6dpAAB860lEQVR4nO3deXxTddo3/k/SNmnSphulTUtXoApllbKVsnR0LCoqPDriiCK4MHizDT/10XGc+5bnnltg1HF8ZnzUGdDCiCyjwMigIh3RCpQCVvYdaWlpKQVa0pK2aZOc3x/pOV2BrjknOZ/369XXC5LTc64eQnL1u1yXRhAEAURERESkGlq5AyAiIiIi92ICSERERKQyTACJiIiIVIYJIBEREZHKMAEkIiIiUhkmgEREREQqwwSQiIiISGWYABIRERGpDBNAIiIiIpVhAkhERESkMkwAiYiIiFSGCSARERGRyjABJCIiIlIZJoBEREREKsMEkIiIiEhlmAASERERqQwTQCIiIiKVYQJIREREpDJMAImIiIhUhgkgERERkcowASQiIiJSGSaARERERCrDBJCIiIhIZZgAEhEREakME0AiIiIilWECSERERKQyTACJiIiIVIYJIBEREZHKMAEkIiIiUhkmgEREREQqwwSQiIiISGWYABIRERGpDBNAIiIiIpVhAkhERESkMkwAiYiIiFSGCSARERGRyjABJCIiIlIZJoBEREREKsMEkIiIiEhlmAASERERqQwTQCIiIiKVYQJIREREpDJMAImIiIhUhgkgERERkcowASQiIiJSGSaARERERCrDBJCIiIhIZZgAEhEREakME0AiIiIilWECSERERKQyTACJiIiIVIYJIBEREZHKMAEkIiIiUhkmgEREREQqwwSQiIiISGWYABIRERGpjK/cAXgyp9OJkpISmEwmaDQaucMhIiKidhAEAVVVVYiOjoZWq86xMCaAXVBSUoLY2Fi5wyAiIqJOKCoqQkxMjNxhyIIJYBeYTCYArhdQUFCQzNEQERFRe1RWViI2Nlb6HFcjJoBdIE77BgUFMQEkIiLyMGpevqXOiW8iIiIiFWMCSERERKQyTACJiIiIVIZrAImIiDpJEATY7XY4HA65Q6EmfHx84Ovrq+o1frfCBJCIiKgT6urqcPHiRVRXV8sdCrXBaDQiKioKOp1O7lAUiQkgERFRBzmdTuTn58PHxwfR0dHQ6XQcbVIIQRBQV1eHy5cvIz8/H0lJSaot9nwzTACJiIg6qK6uDk6nE7GxsTAajXKHQy0YDAb4+fnh/PnzqKurg7+/v9whKQ5TYiIiok7iyJJy8d/m5nh3iIiIiFSGCSAREZGKpKenY/HixZ3+/u+++w4ajQbXrl3rtpjI/ZgAEhEREakME0CFEgRB7hCIiIjISzEBVKATFyvx4Lu7cbDomtyhEBGRF7Lb7ViwYAFCQkLQq1cv/O53v5MGHtasWYORI0fCZDLBbDZjxowZKCsru+G5rl69isceewwxMTEwGo0YMmQI1q1b1+yY9PR0LFq0CC+99BLCwsJgNpuxZMmSZsdcu3YNv/rVrxAZGQl/f38MHjwYW7dulZ7PycnBxIkTYTAYEBsbi0WLFsFqtXbfTVEZJoAKtGLnORwptuDFTw+htp7V5YmIPIEgCKius8vy1dFZo9WrV8PX1xd79+7Fn//8Z/zpT3/CypUrAbhK3Pz+97/HoUOH8M9//hP5+fmYPXv2Dc9VW1uLlJQUbN26FUePHsWvfvUrzJw5E3v37m11zYCAAOzduxdvvPEG/vu//xtZWVkAXHUV7733XuTk5GDNmjU4fvw4li9fDh8fHwDAkSNHMHnyZDz00EM4fPgwNmzYgF27dmHBggUd+rmpkUbgXGOnVVZWIjg4GBaLBUFBQd123gprHTLe+R6Xq2yYO6kvXrl3YLedm4iIuq62thb5+flITEyUasxV19mR/F9fyxLP8f+eDKOufaV909PTUVZWhmPHjknFq3/zm99gy5YtOH78eKvj9+/fj9GjR6OqqgqBgYH47rvv8LOf/QwVFRUICQlp8xpTpkzBwIED8dZbb0nXdDgc2Llzp3TM6NGjceedd2L58uXYvn077r33Xpw4cQK33XZbq/M9+eSTMBgM+Otf/yo9tmvXLkyaNAlWq7XNOn9t/RuJeurz25NwBFCBQgN0WPq/hgAAVnx/DnnnK2SOiIiIvMnYsWObdS5JTU3FmTNn4HA4cODAAUydOhXx8fEwmUxIT08HABQWFrZ5LofDgddffx1Dhw5Fr169EBgYiO3bt7c6fujQoc3+HhUVJU0tHzx4EDExMW0mfwCQl5eHVatWITAwUPqaPHmy1JGFOo6dQBTq7uRIPHRHH2w6UIz//ekhfPnrCfD385E7LCIiugGDnw+O//dk2a7dHWpra5GRkYGMjAysWbMGvXv3RmFhISZPnoy6uro2v+ePf/wj/vSnP+Gdd97BkCFDEBAQgMWLF7c63s/Pr9nfNRoNnE6nK36D4aZxOZ1OzJ07F4sWLWr1XFxcXEd+RGrABFDBXntgEHadvYJzV6x46+tT+N39yXKH5JG+PlaKAWYT4nsFyB0KEXkxjUbT7mlYueXm5rb6e1JSEk6ePIkrV65g+fLliI2NBQD88MMPNz3Xzp07MXXqVDzxxBMAXMnamTNnMHBg+5cvDR06FBcuXMDp06fbHAUcMWIEjh07hv79+7f7nHRznAJWsGCjH5Y/7JoK/nB3PvYXlMsckec5VmLB3I/zMGPFXtQ7nHKHQ0SkCEVFRXj++edx6tQprFu3Dn/5y1/w61//GnFxcdDpdPjLX/6Cc+fOYcuWLfj9739/03P1798fWVlZyMnJwYkTJzB37lyUlpZ2KJ5JkyZh4sSJePjhh5GVlYX8/Hx89dVX2LZtGwDg5Zdfxp49ezB//nwcPHgQZ86cwZYtW7Bw4cJO3wO1YwKocHcOiMQvUmIgCMD//vQQauq4K7gjSi21AIDiazX48shFmaMhIlKGJ598EjU1NRg9ejTmz5+PhQsX4le/+hV69+6NVatW4dNPP0VycjKWL18ubeS4kf/8z//EiBEjMHnyZKSnp8NsNmPatGkdjmnjxo0YNWoUHnvsMSQnJ+Oll16Cw+H6zBs6dCiys7Nx5swZTJgwAXfccQf+8z//E1FRUZ358QncBdwl7tpFZKmpx+Q/fY/Sylo8lZaA1x4Y1GPX8jb/OlSChesOAACG9AnGlgVpzRY+ExF1xs12mJIycBfwzXEE0AMEGxqngjN3FyD33FWZI/IcTUdMjxRbsC+f0+hERERuTQCXLVuGUaNGwWQyISIiAtOmTcOpU6eaHSMIApYsWYLo6GgYDAakp6fj2LFjzY6ZO3cu+vXrB4PBgN69e2Pq1Kk4efJks2NOnz6NqVOnIjw8HEFBQUhLS8O3337b7JjCwkI88MADCAgIQHh4OBYtWnTDXU5yS789Ar8c5VqQ+9Jnh2G12WWOyDNU1zW/Tyt2slwAERGRWxPA7OxszJ8/H7m5ucjKyoLdbkdGRkazVi5vvPEG3n77bbz77rvYv38/zGYz7r77blRVVUnHpKSkIDMzEydOnMDXX38NQRCQkZEhrRUAXEUo7XY7duzYgby8PAwfPhz333+/tDDV4XBgypQpsFqt2LVrF9avX4+NGzfihRdecN8N6aBXpwxEdLA/Csur8UH2T3KH4xGqGzqpjIgLAQB8c/ISzl2+LmNERERECiDIqKysTAAgZGdnC4IgCE6nUzCbzcLy5culY2pra4Xg4GDhgw8+uOF5Dh06JAAQzp49KwiCIFy+fFkAIHz//ffSMZWVlQIA4d///rcgCILw5ZdfClqtViguLpaOWbdunaDX6wWLxdKu+C0WiwCg3cd3hy8OlwjxL28Vhv2frwWrrd5t1/VUb319Uoh/eavwn/88IjyduU+If3mr8Ormw3KHRUQerqamRjh+/LhQU1Mjdyh0Azf7N5Lj81tpZF0DaLFYAABhYWEAgPz8fJSWliIjI0M6Rq/XY9KkScjJyWnzHFarFZmZmUhMTJRqFvXq1QsDBw7E3//+d1itVtjtdvz1r39FZGQkUlJSAAB79uzB4MGDER0dLZ1r8uTJsNlsyMvLa/NaNpsNlZWVzb7cbfIgM2LDDLhWXY+NPxa7/fqeprphDaBR54tnJiQCAD7Lu4AKqzKn+omIiNxBtgRQEAQ8//zzGD9+PAYPHgwA0vRsZGRks2MjIyNb1RR67733pHYw27ZtQ1ZWFnQ6HQBXMc6srCwcOHAAJpMJ/v7++NOf/oRt27ZJfQtLS0tbXSc0NBQ6ne6G9YuWLVuG4OBg6UtMON3JR6vB02muROajXflwOrmJ+2YaE0AfpPbthUHRQaitd+KTvedljoyIvIHAQhqKxX+bm5MtAVywYAEOHz6MdevWtXquZZkOQRBaPfb444/jwIEDyM7ORlJSEqZPn47a2lrp+Hnz5iEiIgI7d+7Evn37MHXqVNx///24ePHiDa9zo2uJXnnlFVgsFumrqKiowz93d5g+MhZB/r7Iv2LFNyfLZInBU9Q0bAIx6nyg0WjwbMMo4Oo952Gzs6YiEXWO2Nasurpa5ki8l93hRHUXNjyK/zYtW9CRiyw9axYuXIgtW7bg+++/R0xMjPS42WwG4Bqda1rcsaysrNVonTgKl5SUhLFjxyI0NBSbN2/GY489hh07dmDr1q2oqKiQ6vu89957yMrKwurVq/Gb3/wGZrMZe/fubXbOiooK1NfXt7qWSK/XQ6/Xd8s96IoAvS9mjInHB9k/YcXOc7g7ue14CbA2jAAadK4+mVOGROMPX51CaWUtthwswSMj3T+KS0Sez8fHByEhISgrc/0SbjQaWWO0m12usqHcakOIwQ+RwTfvFdyUIAiorq5GWVkZQkJC4OPTPX2SvY1bE0BBELBw4UJs3rwZ3333HRITE5s9n5iYCLPZjKysLNxxxx0AgLq6OmRnZ+MPf/jDLc9ts9kANGb9Wm3zAU6tVis1nk5NTcXrr7+OixcvSsnm9u3bodfrpXWCSjZrXDxW7jyHffnlOHzhGobGhMgdkiLVNJkCBgCdrxazxiXgD9tO4sNd+fhFSgzftImoU8RBCzEJpO4jCAJKLbVwCIAjQIfq8o4ncSEhIdK/EbXm1gRw/vz5WLt2LT7//HOYTCZprV1wcDAMBgM0Gg0WL16MpUuXIikpCUlJSVi6dCmMRiNmzJgBADh37hw2bNiAjIwM9O7dG8XFxfjDH/4Ag8GA++67D4AruQsNDcWsWbPwX//1XzAYDFixYgXy8/MxZcoUAEBGRgaSk5Mxc+ZMvPnmmygvL8eLL76IOXPmeERV8KhgAx4YFo3NB4qxcmc+/vzYHXKHpEhiHUCDX+NLfcboOPxlxxmcLK3CrrNXMCGpt1zhEZEH02g0iIqKQkREBOrr6+UOx6v861Ax3tlRiMggf/z96dHw9enYijU/Pz+O/N2CWxPA999/HwCQnp7e7PHMzEzMnj0bAPDSSy+hpqYG8+bNQ0VFBcaMGYPt27fDZDIBAPz9/bFz50688847qKioQGRkJCZOnIicnBxEREQAAMLDw7Ft2za8+uqruPPOO1FfX49Bgwbh888/x7BhwwC4hu+/+OILzJs3D2lpaTAYDJgxY8Ytex4qyTPjE7H5QDG+OHIRv7l3AKJD2j9ErhbVLUYAASDY6IfpI2OxKqcAK3fmMwEkoi7x8fFhstGNnE4B7+8qQnGVA09PikdggFHukLwSewF3gRJ6CT72t1zsOXcVv5rYF7+9b6AsMSjZpDe/xfmr1fjsuVSMTAiTHi+8Wo1Jb30LQQC2/38TcVukScYoiYhI9M2JS3hm9Q8w6X2x57d3IVDf/WNVSvj8lht7AXs4cVfrur2FuM72cK1Ut9gEIorrZcTkZNfakJU7z7k9LiIiatvKhpadj42J65Hkj1yYAHq4n90egb69A1Bls2PDfnnK0ihZTZNC0C3NmehKnv95oASXq2xujYuIiFo7WmzBnnNX4aPVYPa4BLnD8WpMAD2cVqvBM+MbC0PbHU6ZI1IOQRCkTSBGXev1OSPiQjE8NgR1Dic+zmVhaCIiuYkzMlOGRHFdew9jAugFHh4Rg1CjH4qv1eDrY5fkDkcxbHYnxEYpLaeAAdcOvjkT+gIA1uSeR209C0MTEcnloqUGWw+7mjWI783Uc5gAegF/Px/MHBsPAFix8xzb3zQQp38BwOjX9g69yYMi0SfEgHJrHTaxtzIRkWxW5RTA7hQwJjEMQ2KC5Q7H6zEB9BIzUxOg89XiYNE15J2vkDscRahuGNHT+WpvWEPK10eLpxum0FfuOsfeykREMrDa7Fi7txAA8CxH/9yCCaCX6G3S438N7wOgcQeV2tXcZP1fU9NHxsCk98W5y1Z8d5oV/YmI3O0fPxShqtaOxPAA3DUgQu5wVIEJoBd5pqEkzNfHS3H+qlXmaORntTXsAL7B9K/I5O+Hx8bEAQBWfM/kmYjInRxOAR/tdr33Pj0+EVot23O6AxNAL3JbpAmTbusNQQAydxfIHY7sblQDsC2zxiXAR6vBnnNXcbTY0tOhERFRg+3HSlFUXoMQox9+MSJG7nBUgwmglxELQ//jhyJYqtXdm7KmXpwCvnUh0T4hBkwZEgXAVU6HiIjcY2XDe+4TY+Lb9Qs7dQ8mgF5mfP9wDDCbUF3nwNp9hXKHI6uOjAACjcnzlkMlKLXU9lhcRETk8mNhBfLOV0Dno8WT4+LlDkdVmAB6GY2msTD0qpx81NnVWxi6WuoC0r4EcGhMCEYnhsHuFLB6T0EPRkZERADwYcOmxQeHRyPC5C9zNOrCBNALPTg8Gr1NelyqtOGLIyVyhyObmg4mgEBj8dFPcs/Dyt7KREQ9pqi8Gl8ddRV+FmdgyH2YAHohva8PZqW6htJX7sxXbWFoaQrYr/3NxO8aEIHE8ABU1trxWd6FngqNiEj1MncXwCkAE5LCMcAcJHc4qsME0Es9PiYe/n5aHCupxJ5zV+UORxbtrQPYlFarkQpDf7grHw4WhiYi6naWmnps2M/Cz3JiAuilQgN0+EWKazv9hyotDN3RNYCiX4yIQYjRD4Xl1cg6zt7KRETdbcP+QljrHLgtMhATk8LlDkeVmAB6safTEqHRAN+cLMPZsutyh+N2Yiu4jpYVMOh88MQYcQr9XLfHRUSkZvUOp1Sr9tnxfaHRsPCzHJgAerG+vQNx14BIAJCqrKuJuAkkoB11AFt6MjUeOh8tfjhfgQOF7K1MRNRdvjxyERcttQgP1OHB4dFyh6NaTAC93JyGnVUb8y7g6nWbzNG4V3XDGsDOFBaNCPKX3phWsjA0EVG3EAQBKxpmVp5MTYD/LVp1Us9hAujlRieGYUifYNjsTnyyV12FoTu7BlAk1lP86shFFJVXd1tcRERqtTe/HEeLK6H31eKJsSz8LCcmgF5Oo9FI9ZX+vqcAtQ3r4tSgqwngwKggTEgKh1MAVuUUdGNkRETqtLJhU+LDKTEIC9DJHI26MQFUgfuGRCEq2B9Xrtfh84PFcofjNo2t4Dq+BlAkjgJu2F+Eylp191YmIuqKc5ev45uTrsoK4nsryYcJoAr4+WjxVFoCAFdtO7UUhu5MHcCWJt3WG0kRgbhus2PDvqLuCo2ISHU+2p0PQXAV3O/XO1DucFSPCaBKPDoqDgE6H5y+dB3fn7kidzhu0dgJpPMJYNMp9Mzd+bA71NtbmYiosyqsdVJ3JRZ+VgYmgCoRbPDDo6PiAKintl1negG3ZerwPggP1KHEUosvj5Z2R2hERKryyd7zqK13YlB0EMb2DZM7HAITQFV5Ki0BWg2w88wVnLhYKXc4PUoQBKkQtLELawABwN/PBzPHJgBwJc9qmUInIuoONrsDq/ecBwDMmcDCz0rBBFBFYsOMuHdwFADXWkBvVudwSn18O1MHsKUnxsZB76vF4QsW7C9gYWgiovbacrAEl6tsMAf5Y8rQKLnDoQZMAFVGXM/2+cFilFXWyhxNzxGnf4GuTwEDQK9APR4a4eqtrJYpdCKirhIEQRpwmDUuAX4+TDuUgv8SKnNHXChS4kNR7xDw94YheW8kbgDx89F02xuOWLYg68Ql5F+xdss5iYi82a6zV3CytApGnQ9mjI6TOxxqggmgCont4dbsPS+1S/M2jUWgu7b+r6n+EYG4c0AEBMG1I5iIiG5uRUPh5+kjYxFs9JM5GmqKCaAK3Z1sRlyYEdeq67HxR+8sDN1dO4BbEqfQP/3hAq5V13XruYmIvMmp0ip8f/oytBrg6TQWflYaJoAq5KPV4OmGwtAf7cqH0+l9u1rFkc3u2ADSVGrfXkiOCkJNvUN1vZWJiDriw12u9dKTB5kR18soczTUEhNAlXpkZCyC/H2Rf8WKb06WyR1Ot+tqH+Ab0Wg0mDPR9ZvsqpwC2Ozq6a1MRNRel6ts+OeBEgCNMyekLEwAVSpA74sZY+IBACu8cFerlAD6dd8aQNGUIdEwB/njcpUN/zp0sdvPT0Tk6T7eU4A6hxN3xIUgJZ6Fn5WICaCKzRoXD1+tBvvyy3H4wjW5w+lWPTUFDAA6Xy1mjUsAwMLQREQt1dY78HGuq8rEs+PZ9k2pmACqWFSwAQ8MiwYArNzpXbtaa+p7ZgpYNGN0HIw6H5wsrcLus1d75BpERJ5o448XUFFdj5hQAyYPipQ7HLoBJoAqJ9a2++LIRRRfq5E5mu4jTgH3xAggAAQb/TB9ZCwAYOUu75tCJyLqDKezsfDzU2mJ8GXhZ8Xiv4zKDe4TjNS+veBwClidUyB3ON2mpzaBNPVUWgI0GuC7U5dx5lJVj12HiMhTfHuqDOcuW2HS++LRUbFyh0M3wQSQpB1a6/YW4rrNOwpD1zSsAezOQtAtxfcKwORkMwDv761MRNQe4nKix8bEIVDfc++/1HVMAAk/uz0CfXsHoMpmx4b9RXKH0y2kKWC/nhsBBBqT500HinG5ytaj1yIiUrKjxRbsOXcVPloNZjdslCPlYgJI0Go10lrAzN35sDucMkfUdT3VCaSllPhQDI8NQZ3diTW53ttbmYjoVlY2lBSbMiQK0SEGmaOhW3FrArhs2TKMGjUKJpMJERERmDZtGk6dOtXsGEEQsGTJEkRHR8NgMCA9PR3Hjh1rdszcuXPRr18/GAwG9O7dG1OnTsXJkydbXe+LL77AmDFjYDAYEB4ejoceeqjZ84WFhXjggQcQEBCA8PBwLFq0CHV16mzv9fCIGIQa/XChogZfH7skdzhdJq0B7OEpCI1GI40Cfpx7HrX1LAxNROpz0VKDrYdddVHnTGDpF0/g1gQwOzsb8+fPR25uLrKysmC325GRkQGr1Sod88Ybb+Dtt9/Gu+++i/3798NsNuPuu+9GVVXjIvuUlBRkZmbixIkT+PrrryEIAjIyMuBwNH74bty4ETNnzsRTTz2FQ4cOYffu3ZgxY4b0vMPhwJQpU2C1WrFr1y6sX78eGzduxAsvvOCem6Ew/n4+mDnWVRjaG3a1VotlYHp4ChgA7hlkRp8QA8qtddh8wDt7KxMR3cyqnALYnQJGJ4ZhSEyw3OFQewgyKisrEwAI2dnZgiAIgtPpFMxms7B8+XLpmNraWiE4OFj44IMPbnieQ4cOCQCEs2fPCoIgCPX19UKfPn2ElStX3vB7vvzyS0Gr1QrFxcXSY+vWrRP0er1gsVjaFb/FYhEAtPt4pSurrBWSfvulEP/yVuGHgnK5w+mSX7y/W4h/eavw5eESt1xvxfc/CfEvbxXufOtbweFwuuWaRERKcL22Xhj82jYh/uWtwvZjpXKH0y7e9vndGbKuAbRYLACAsDBXm5j8/HyUlpYiIyNDOkav12PSpEnIyclp8xxWqxWZmZlITExEbKxry/mPP/6I4uJiaLVa3HHHHYiKisK9997bbCp5z549GDx4MKKjo6XHJk+eDJvNhry8vDavZbPZUFlZ2ezLm/Q26THtDrEwtGePAlptPVsHsKVHR8XCpPfFT5etyD592S3XJCJSgn/8UISqWjsSwwNw14AIucOhdpItARQEAc8//zzGjx+PwYMHAwBKS0sBAJGRzSuHR0ZGSs+J3nvvPQQGBiIwMBDbtm1DVlYWdDodAODcOVfysmTJEvzud7/D1q1bERoaikmTJqG8vFy6VsvrhIaGQqfTtbqWaNmyZQgODpa+xITTmzzbsHbj62OlKLxaLXM0ndfYCcQ9ZQhM/n745WjX68EbeysTEbXF4RTw0W5X6ZenxydCq9XIHBG1l2wJ4IIFC3D48GGsW7eu1XMaTfMXkCAIrR57/PHHceDAAWRnZyMpKQnTp09HbW0tAMDpdO1iffXVV/Hwww9LawY1Gg0+/fTTG17nRtcSvfLKK7BYLNJXUZF3lExp6rZIEybe1htOAdJ/ak9ULdUBdM8IIADMTkuEj1aDnJ+u4liJxW3XJSKSy/ZjpSgqr0GI0Q+/GBEjdzjUAbIkgAsXLsSWLVvw7bffIiam8QVjNruK6rYcgSsrK2s1WhccHIykpCRMnDgRn332GU6ePInNmzcDAKKiogAAycnJ0vF6vR59+/ZFYWGhdK2W16moqEB9fX2razU9R1BQULMvbzSnYVfrP34ogqWmXuZoOqenW8G1pU+IAfcNcb32PvSy3spERG1Z2VAE/4kx8W59v6Wuc2sCKAgCFixYgE2bNmHHjh1ITExs9nxiYiLMZjOysrKkx+rq6pCdnY1x48bd8tw2m6sQb0pKCvR6fbMSM/X19SgoKEB8vGuna2pqKo4ePYqLFy9Kx2zfvh16vR4pKSld/lk92fj+4RhgNqG6zoF1+wrlDqdT3FUHsCUxed5yqASlllq3XpuIyJ1+LKxA3vkK6Hy0eHJcvNzhUAe5NQGcP38+1qxZg7Vr18JkMqG0tBSlpaWoqakB4JqSXbx4MZYuXYrNmzfj6NGjmD17NoxGo1TC5dy5c1i2bBny8vJQWFiIPXv2YPr06TAYDLjvvvsAAEFBQXjuuefw2muvYfv27Th16hT+4z/+AwDwyCOPAAAyMjKQnJyMmTNn4sCBA/jmm2/w4osvYs6cOV47stdeGk1jYehVuwtQ72GFoevsTtidAgDA6OfeVkRDY0IwOiEMdqeA1XsK3HptIiJ3Emc6HhwejQiTv8zRUEe5NQF8//33YbFYkJ6ejqioKOlrw4YN0jEvvfQSFi9ejHnz5mHkyJEoLi7G9u3bYTKZAAD+/v7YuXMn7rvvPvTv3x/Tp09HQEAAcnJyEBHRuPvozTffxC9/+UvMnDkTo0aNwvnz57Fjxw6EhoYCAHx8fPDFF1/A398faWlpmD59OqZNm4a33nrLnbdEsR4cHo3eJj1KK2vxxeGLt/4GBRFH/wD3TgGLxMLQn+Seh9VLeisTETVVVF6Nr466PhvE9zzyLBpBEAS5g/BUlZWVCA4OhsVi8cpRw3d3nMFb209jcJ8g/GvB+BtujlGai5YapC7bAV+tBmeX3uf26zucAu7643couFqN//PgIMxiT0wi8jL//a/j+Gh3PiYkhePjZ8bIHU6Hefvnd3uwFzDd0ONj4uHvp8XR4krkniuXO5x2k2MDSFM+TXorf7grHw4nf8ciIu9hqanHhv2u9eHPsu2bx2ICSDcUGqDDL1Jcu7Q/9KD2cOIUcICbagC25eGUGIQY/VBYXo2s457fW5mISLRhfyGsdQ7cFhmIiUnhcodDncQEkG7q6bREaDTAv0+U4afL1+UOp12qZdoB3JRR54vHx8QB8PyuKkREonqHE5m7CwAAz47v6zFLg6g1JoB0U317B+KuAa66iB/t8ozadmIRaLlrUs1KTYCfjwY/nK/AgcIKWWMhIuoOXx65iIuWWoQH6vDg8OhbfwMpFhNAuiWxtt1neRdQbq2TOZpbU8IIIABEBPnjwWF9ADQWSyUi8lSCIGBlQ+mXJ1MT4O/Hws+ejAkg3dLoxDAM6RMMm92JT3LPyx3OLTVuApFvDaBILI/w1ZGLKCr33N7KRET78stxpNgCva9WWuJCnosJIN2SRqOREpnVe86jtt5xi++QV43YB1gBv50OjArC+P7hcArAqpwCucMhIuq0FQ2jfw+NiEGvQL3M0VBXMQGkdrlvSBSigv1x5boNWw6VyB3OTSllClgkJs8b9hehstYzeysTkbqdu3wd35x0VTQQy1yRZ2MCSO3i56PFU2kJAFztf5RcP1zuOoAtTbqtN5IiAnHdZseGfUVyh0NE1GEf7c6HIAB3DYhA/4hAucOhbsAEkNrt0VFxCND54NSlKuw8c0XucG6opl5ZI4BNp9Azd+d7XG9lIlK3CmsdPsu7AAB4hm3fvAYTQGq3YIMfHh3lWvi7QsG17RrLwMi/CUQ0dXgfhAfqUGKpxZdHPKu3MhGp2yd7z6O23olB0UFI7dtL7nComzABpA55Ki0BWg2w88wVnCqtkjucNiltDSAA+Pv5YObYBACu9nBKnkInIhLZ7A6s3uOq/jBnAgs/exMmgNQhsWFG3Ds4CoByO1zUKDABBIAnxsZB76vF4QsW7Mv3nN7KRKReWw6W4HKVDeYgf0wZGiV3ONSNmABSh4lrQD4/WIKyqlqZo2mtcQRQOVPAANArUI+HRrh6K7MwNBEpnSAI+LDhvWp2WgL8fJgyeBP+a1KHjYgLRUp8KOocTny8R3mFoZU6Agg0lk/494lLyL9ilTkaIqIb23X2Ck6WVsGo88Fjo1j42dswAaROebYhkVmTe15KuJSiul4ZvYDb0j8iEHcOiIAgeE5vZSJSJ7Ht2/SRsQg2+skcDXU3JoDUKRmDzIgLM6Kiuh4bf7wgdzjNSFPACugE0haxJMyneUWo8IDeykSkPqcvVSH79GVoNcDTaSz94o2YAFKn+Gg1UmHoj3blw+lUzq7Wapsy1wCKUvv2QnJUEGrrnVi7r1DucIiIWvmwYfRv8iAz4noZZY6GegITQOq06SNjYfL3xbkrVuw4WSZ3OJLGOoDKHAHUaDSYM9H1G/WqnALY7MqaQicidbtcZcPmg8UAGmcsyPswAaROC9D7YsYY5RWGVlonkLZMGRKNyCA9LlfZ8K9DLAxNRMrxce551NmduCMuBCnxYXKHQz2ECSB1yexxCfDVarA3vxxHLljkDgf1DifqHa7paCUngDpfLWaPc/1mvXLnORaGJiJFqK13YE2uq7rDs+P7yhwN9SQmgNQlUcEG3N9QHHTlLvlHAaub7EhW6hSwaMboOBh1PjhZWoXdZ6/KHQ4RETb9WIxyax1iQg2YPChS7nCoBzEBpC57doLrt8QvDl9EybUaWWMRS9L4aDXQKbxoabDRD9NHxgJQ1hQ6EamT0yngw4Zf5J9KS4Svwt9DqWv4r0tdNrhPMMb2DYPdKWB1ToGssYgbQIx+Ph7Rs/KptARoNED26cs4fUmZvZWJSB2+O12Gny5bYdL74tFRsXKHQz2MCSB1izkNo4Br9xXius0uWxziFLDSp39F8b0CMDnZDKCx7AIRkRzEws+PjYlDoF6ZZbSo+zABpG7xs9sj0Ld3AKpq7fjH/iLZ4vCEHcAtiWUWNh8sxuUqm8zREJEaHSuxIOenq/DRajB7XILc4ZAbMAGkbqHVaqQ+tx/tzodDpsLQUhcQhRaBbktKfCiGx4agzu7Ex7nK661MRN5PnIGYMiQK0SEGmaMhd2ACSN3moTtiEGr0w4WKGnx9rFSWGGrENYAeNAKo0WikUcA1uedRW8/C0ETkPqWWWmw5VAKAhZ/VhAkgdRuDzgczx8YDcNW2k4OnrQEU3TPIjD4hBpRb67Dpx2K5wyEiFVm9pwB2p4DRiWEYGhMidzjkJkwAqVs9kRoPnY8WPxZeQ975Crdf31rneWsAAcDXRyv1Vv5w1zlF9VYmIu9ltdnxScPSE3EzH6kDE0DqVhEmf0wdHg0AUj0pd2qcAvacNYCiR0fFwqT3xU+XrfjutHJ6KxOR9/os7wIqa+1IDA/AXQMi5A6H3IgJIHU7sTD0tqOlKLxa7dZre+oUMACY/P3wy9Gu2lsrWRKGiHqYwyngw12u95qnxydCq1V+7VTqPkwAqdvdbjZhQlI4nAKQmePeREbsBGL087wEEABmpyXCR6tBzk9XcaxE/t7KROS9so6XorC8GiFGP/xiRIzc4ZCbMQGkHiGuJfnH/iJYaurddt1qD10DKOoTYsB9Q1y9lVkYmoh6kjjT8MSYeI+cNaGuYQJIPWJCUjhujzTBWufA+n2Fbrtu4xSw560BFM1pKMOw5VAJSi21MkdDRN7oQGEFfjhfAZ2PFk+Oi5c7HJIBE0DqERqNBs80JDKrcgpQ73C65bo19Z5XB7CloTEhGJ3Q0Ft5T4Hc4RCRF1rZsPbvweHRiDD5yxwNyYEJIPWYqcOjER6ox0VLLb48ctEt1/TkTSBNicVYP8k9D6uMvZWJyPsUlVfjq4b3ZBZ+Vi8mgNRj9L4+mJXqmlpYsfMcBKHna9t5+hpA0V0DI5HQy4jKWjs+y7sgdzhE5EVW5RTAKbiW6gwwB8kdDsmECSD1qMfHxsPfT4ujxZXIPVfe49cTdwEHePAaQADwadJb+cNd8vVWJiLvUllbjw37iwA0luwidWICSD0qLECHhxvKC7ijMHR1QyFoT58CBoCHU2IQbPBDYXk1so5fkjscIvICG/YV4brNjtsiAzExKVzucEhGbk0Aly1bhlGjRsFkMiEiIgLTpk3DqVOnmh0jCAKWLFmC6OhoGAwGpKen49ixY82OmTt3Lvr16weDwYDevXtj6tSpOHnyZJvXtNlsGD58ODQaDQ4ePNjsucLCQjzwwAMICAhAeHg4Fi1ahLq6um79mQnSSNa/T5Thp8vXe/RaNV4yBQy4upk8MTYOgDxdVYjIu9Q7nMjc7dr88ez4vtBoWPhZzdyaAGZnZ2P+/PnIzc1FVlYW7HY7MjIyYLVapWPeeOMNvP3223j33Xexf/9+mM1m3H333aiqqpKOSUlJQWZmJk6cOIGvv/4agiAgIyMDDoej1TVfeuklREdHt3rc4XBgypQpsFqt2LVrF9avX4+NGzfihRde6JkfXsX69g7Ezwe6Wgx9tKtna9t5ai/gG3kyNQF+PhrsL6jAwaJrcodDRB7sq6OlKLHUIjxQhweHt/5cJJURZFRWViYAELKzswVBEASn0ymYzWZh+fLl0jG1tbVCcHCw8MEHH9zwPIcOHRIACGfPnm32+JdffikMGDBAOHbsmABAOHDgQLPntFqtUFxcLD22bt06Qa/XCxaLpV3xWywWAUC7j1ezPT9dEeJf3irc9uqXwtXrth67TtJvvxTiX94qXKio7rFruNvzGw4K8S9vFeZ/kid3KETkoZxOp/DAX3YK8S9vFd7JOi13OLLj57cgyLoG0GJxtboKCwsDAOTn56O0tBQZGRnSMXq9HpMmTUJOTk6b57BarcjMzERiYiJiY2Olxy9duoQ5c+bg448/htFobPV9e/bsweDBg5uNDk6ePBk2mw15eXnd8vNRozGJYRjcJwg2uxOf5J7vkWvYHU7UNdQb9NRWcG0Rp9C/OlqKCxXu7a1MRN5hf0EFDl+wQO+rlZaWkLrJlgAKgoDnn38e48ePx+DBgwEApaWlAIDIyMhmx0ZGRkrPid577z0EBgYiMDAQ27ZtQ1ZWFnQ6nXTu2bNn47nnnsPIkSPbvH5paWmr64SGhkKn07W6lshms6GysrLZF7WPRqOR2sOt3nMetfWtp+u7qrrJOb1hE4goOToI4/uHw+EUkLm7QO5wiMgDrdjpWkf80IgY9ArUyxwNKYFsCeCCBQtw+PBhrFu3rtVzLRemCoLQ6rHHH38cBw4cQHZ2NpKSkjB9+nTU1rraZv3lL39BZWUlXnnllZvG0NYC2LauJVq2bBmCg4Olr6YjjnRr9w2JQlSwP65ct2HLoZJuP7+4AUSrAfS+3rXBXeyqsmF/ESpr3ddbmYg8X/4VK/59wlVJQJxRIJLlU3LhwoXYsmULvv32W8TExEiPm81mAGg1AldWVtZqtC44OBhJSUmYOHEiPvvsM5w8eRKbN28GAOzYsQO5ubnQ6/Xw9fVF//79AQAjR47ErFmzpGu1vE5FRQXq6+tbXUv0yiuvwGKxSF9FRUVduAvq4+ejxexxCQCAD3fmd3th6MYi0L5et7st/bbeSIoIxHWbHRv28XVHRO330a58CAJw54AI9I8IlDscUgi3JoCCIGDBggXYtGkTduzYgcTE5r+JJCYmwmw2IysrS3qsrq4O2dnZGDdu3C3PbbPZAAB//vOfcejQIRw8eBAHDx7El19+CQDYsGEDXn/9dQBAamoqjh49iosXG1uUbd++HXq9HikpKW1eQ6/XIygoqNkXdcwvR8chQOeDU5eqsPPMlW49tzfVAGxJo2ksDJ25Ox92N/VWJiLPdq26Dp/miYWfOfpHjdyaAM6fPx9r1qzB2rVrYTKZUFpaitLSUtTU1ABwfcgtXrwYS5cuxebNm3H06FHMnj0bRqMRM2bMAACcO3cOy5YtQ15eHgoLC7Fnzx5Mnz4dBoMB9913HwAgLi4OgwcPlr5uu+02AEC/fv2kEceMjAwkJydj5syZOHDgAL755hu8+OKLmDNnDhO7HhRs8MP0Ua6pc3FNSnfxphqAbZl2Rx+EB+pQYqnFl0fbXqdKRNTUJ3sLUVvvRHJUEFL79pI7HFIQtyaA77//PiwWC9LT0xEVFSV9bdiwQTrmpZdewuLFizFv3jyMHDkSxcXF2L59O0wmEwDA398fO3fuxH333Yf+/ftj+vTpCAgIQE5ODiIiItodi4+PD7744gv4+/sjLS0N06dPx7Rp0/DWW291+89NzT2dlgitBth55gpOlVbd+hvaSZwCNnjRDuCm/P18MHNsAgBgpZt6KxOR57LZHViVUwAAmDMx0euWxlDXaAR+inRaZWUlgoODYbFYOGrYQfM+ycOXR0rxSEoM3nxkWLecc9vRUjy3Jg8p8aHY+B83XzLgqa5et2Hc8h2w2Z34x9xUjE4MkzskIlKoz/Iu4MVPDyEySI+dL90JnZdtjusKfn6zFzDJ5JnxrpIwnx8sQVlVbbecs6betQbQW6eAAaBXoB4PNfRWXtnNU+hE5D0EQZDeI2aPS2TyR63wFUGySIkPxYi4ENQ5nPh4T/cUhvb2KWCRuBkk68Ql5F+x3uJoIlKj3Wev4mRpFQx+PpgxmoWfqTUmgCSbZxsKQ6/JPS9t4OiKapt3bwIR9Y8IxJ0DIiAIkBq7ExE1JW6ymz4yBsFGP5mjISViAkiymTzIjNgwAyqq67HxxwtdPp80Aqjz7fK5lO7ZhlHAT3+4gGvVdTJHQ0RKcvpSFbJPX4ZGAzzNws90A0wASTY+Wg2eGud6c/poVz6czq7tR6pWwRpAUWq/XkiOCkJNvQOf7C2UOxwiUpAPd7pmBiYnmxHfK0DmaEipmACSrKaPioXJ3xfnrlix42RZl87l7XUAm9JoNFJR19U5BaizszA0EQGXq2zYfLAYAAs/080xASRZBep9pQXKK3d1bVdr4xSw9yeAAHD/0GhEBulRVtUzvZWJyPN8nHsedXYnhseGICU+VO5wSMGYAJLsZqclwFerQe65chwttnT6PNIIoJfvAhbpfLWY1dBbmYWhiai23oE1ua6qCs9OYOFnujkmgCS7qGADpgyNAtC19nBiL2CjCjaBiB4fHQ+Dnw9OllYh56ercodDRDLa9GMxyq116BNiwD2DzHKHQwrHBJAUYU5DSZgvDl9EybWaTp1DbVPAABBs9MP0ka7C0N3dW5mIPIfTKeDDhmU0T6UlwNeHH+90c3yFkCIM7hOMsX3DYHcKWN3Qu7KjaurVswmkqafHJ0KjAb47dRlnLnVfb2Ui8hzfnS7DT5etMOl98eioWLnDIQ/ABJAU49mG9nBr9xXius3e4e+vlnYBq2cKGADiewUgIzkSAPDhLhaGJlKjlQ2lX345OhYmfxZ+pltjAkiKceeACPQND0BVrR3/2F/U4e9XUxmYlsQp9E0HinHluk3maIjInY6VWJDz01X4aDWYncbSL9Q+TABJMbRajVS1/qPd+XB0sDB04yYQ9SWAKfGhGBYbgjp79/VWJiLPIBZ+vm9IFPqEGGSOhjwFE0BSlIdHxCDU6IcLFTX4+lhph77XqsJNICKNRoM5DUVf1+SeR21913srE5HylVpqpTqgc1j4mTqACSApikHngyfGxgNw1bZrL4dTkLphqG0NoOieQWb0CTHgqrUOmw8Uyx0OEbnB6j0FsDsFjE4Iw9CYELnDIQ/CBJAUZ2ZqPHQ+WvxYeA155yva9T3i9C+gzilgAPD10eKptAQAruS5q72ViUjZrDY7PmlS+JmoI5gAkuJEmPwxdXg0AEh1rW5F3ACi0QB6X/W+rB8dFQuT3hc/XbYi+/RlucMhoh70Wd4FVNbakdDLiLsGRsodDnkY9X5SkqI927CrddvRUhSVV9/y+OombeDU3P7I5O+HX4521QBjYWgi7+VwClLZp2fGJ8JHq973PeocJoCkSLebTZiQFA6n4NoRfCuNXUDUuf6vqdlprg+DnJ+u4lhJ53srE5FyZR2/hMLyagQb/PBwSozc4ZAHYgJIiiXWtvvH/iJYaupvemxNvXpLwLTUJ8SA+4a4eiuL5SGIyLuIm+SeGBun2o1v1DVMAEmxJiSF4/ZIE6x1DqzfV3jTY6tVXAS6LWI5iC2HSlBqqZU5GiLqTgcKK/DD+Qr4+WjwZGqC3OGQh2ICSIql0WjwTEMisyqnAPUO5w2PrVZxDcC2DI0JweiEht7KewrkDoeIutHKhrV/Dw7rg8ggf5mjIU/FBJAUberwaIQH6nHRUosvj1y84XHiLuAAToVIxLIQn+Seh7UTvZWJSHmKyqvxVcN74TPjWfqFOo8JICma3tcHs1JdhaFX7DwHQWi7th1HAFu7a2AkEnoZUVlrx2d5F+QOh4i6waqcAjgFYHz/cCRHB8kdDnkwJoCkeI+PjYe/nxZHiyuxN7+8zWPU3Af4Rny0GmmEoDO9lYlIWSpr67FhfxEAFn6mrmMCSIoXFqDDwyNcZQ5u1B6uhptA2vRwSgyCDX44f7UaWccvyR0OEXXBhn1FuG6zIykiEJNu6y13OOThmACSR3i6YSTr3yfKcO7y9VbPW8UpYD+uAWzKqPPFE2PjALS/qwoRKU+9w4nMhpqoz05IVHXBe+oeTADJI/TrHYifD4wAAKn6fVM1nAK+oSdTE+Dno8H+ggocLLomdzhE1AlfHS1FiaUW4YE6TB3eR+5wyAswASSP8cx4V2Hoz/IuoNxa1+w5bgK5scggfzw4zPWBcaMpdCJSLkEQpP+7M8cmwN+P73PUdUwAyWOM7RuGwX2CYLM78Unu+WbPVddzDeDNiJtBvjpaigsVt+6tTETKsb+gAocvWKD31UpLOoi6igkgeQyNRoNnG0YBV+85j9qGpA/gJpBbSY4Owvj+4XA4BazaXSB3OETUASsaRv8eGhGDXoF6maMhb8EEkDzKlKFRiAr2x5XrNmw5VCI9LpaBMbAQ9A2JXVXW7y9CZe3NeysTkTLkX7Hi3ydcO/ifGZ8gbzDkVZgAkkfx89Fi9rgEAMCHO/OlwtDSCCDXxtxQ+m29kRQRiOs2O/7RUEuMiJTto135EATgzgER6B9hkjsc8iJMAMnj/HJ0HAJ0Pjh1qQo7z1wB0LgJhFPAN6bRNBaGztxdAPtNeisTkfyuVdfh07yGws9s+0bdjAkgeZxggx+mj4oF0Lg2hruA22faHX3QK0CH4ms1+OpoqdzhENFNfLK3ELX1TiRHBSG1Xy+5wyEvwwSQPNLTaYnQaoCdZ67gVGkVaho2hATouQbwZvz9fDCzobfyypv0ViYiednsDqzKKQDAws/UM5gAkkeKDTPinsFmAK5ERtoEwjWAtzRzbDx0vlocumDB/oIKucMhojb869BFXK6yITJIj/uHRssdDnkhJoDkscTC0J8fLEFtvWs9G9cA3lqvQD0eHsHC